* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Fira Code', monospace;
}

.cmc {
  width: 44.5rem;
  height: 6.2rem;
  background-color: #2f6e6d;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cmc h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

main .fundo {
  width: 44.5rem;
  height: 37rem;
  background: #47b5b0;
  display: flex;
  justify-content: center;
}

.fundoForm {
  width: 28.9rem;
  height: 37rem;
  background: #ffffff;
}

#formm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  display: block;
  margin-top: 2rem;
}

.fundoBot {
  width: 44.5rem;
  height: 6.2rem;
  background: #2f6e6d;
  align-items: center;
  display: flex;
  justify-content: center;
}

.fundoBot button {
  border: 0;
  background: #ffffff6b;
}

.fundoBot #enviar {
  width: 12.8rem;
  height: 3.2rem;
  border-radius: 2rem;
  border: 2px solid rgba(29, 208, 36, 0.78);
}

.fundoBot #enviar:hover {
  background: rgba(29, 208, 36, 0.78);
  border: 0;
}

.fundoBot button:hover {
  cursor: pointer;
}

#list-section {
  width: 44.5rem;
  height: 20rem;
  background-color: #47b5b0;
}

#list-background {
  width: 30rem;
  height: 20rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  margin-left: 3rem;
  display: block;
  align-items: center;
  list-style: none;
  max-height: 15rem;
  min-height: 15rem;
  overflow-y: auto;
}
