* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
}

header,
main,
footer {
  width: 80%;
  border: solid black 1px;
  margin: 0 auto;
}

.img1 {
  width: 10rem;
  height: 15rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li {
  margin-right: 3rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

header a:hover {
  font-size: 2.5rem;
  color: blue;
  border: solid 1px rgb(25, 0, 255);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social i {
  margin-right: 2rem;
}

p,
.dnd {
  display: flex;
  justify-content: center;
}

.bot {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.bot button {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 10rem;
  height: 5rem;
  background-color: rgba(141, 152, 255, 0.514);

}

.bot button:hover{
  border: 0.1rem solid rgb(21, 0, 255);
  cursor: pointer;
}
img {
  margin: 1rem;
}
.alo {
  display: flex;
}

.fig1, .fig2{
  font-size: 1rem;
}

.social .fa-facebook:hover{
  color: #395593;
  cursor: pointer;
}

.social .fa-twitter:hover{
  color: #28A0d5;
  cursor: pointer;
}

.list ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: circle;
}

.list h1{
  margin-top: 2rem;
}