/* Default theme. ~960B */
@import '~@vime/core/themes/default.css';

/* Optional light theme (extends default). ~400B */
@import '~@vime/core/themes/light.css';

html, body {
  height: 100%;
}

body {
  background-color: #09090A !important;
  color: #E1E1E6 !important;
}