* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, boyd {
  height: 100%;
}

:root {
  --primary-color: #ffffff;
  --bg-color-primary: #ffffff;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Fira Code', monospace;
  align-items: center;
  justify-content: center;
}

#bot{
  padding: 10rem;
}