* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, boyd {
  height: 100%;
}

:root {
  --primary-color: #BB2BFF;
  --bg-color-primary: #BB2BFF;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Fira Code', monospace;
}

h1, h2 {
  text-align: center;
  color: var(--primary-color);
  
}

#form-message {
  display: grid;
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc
}

#addButton {
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: .5rem;
  color: #fff;
  border: none;
  text-transform: uppercase;
  background-color: var(--bg-color-primary)
}

ul {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem
  
}

h2 {
  margin-top: 2rem;
  text-align: center;
}

table {
  margin: 0 auto;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}